<table class="table table-default">
    <thead>
        <tr>        
            <th>NIK</th>
            <th>Nama</th>
            <th>Alamat</th>
        </tr>
    </thead>
    <tbody>
        <% @datapasien.each do |datauser| %>
            <tr>
                <td><%= datauser.nik %></td>
                <td><%= datauser.name %></td>
                <td><%= datauser.alamat %></td>
                <td>
                    <%= link_to 'Show', datauser  %>
                </td>
                <td>
                    <%= link_to 'Edit', edit_user_path(datauser) %>
                </td>
                <td>
                    <%= link_to 'Delete', datauser, method: :delete, data: {confirm: 'Are You Sure ? '} %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
