<p id="notice"><%= notice %></p>

<p>
  <strong>Nik:</strong>
  <%= @user.nik %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Alamat:</strong>
  <%= @user.alamat %>
</p>

<%= link_to 'Back', authorized_path %>