<p id="notice"><%= notice %></p>

<h1>Pasiens</h1>

<table>
  <thead>
    <tr>
      <th>Nik</th>
      <th>Name</th>
      <th>Alamat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pasiens.each do |pasien| %>
      <tr>
        <td><%= pasien.nik %></td>
        <td><%= pasien.name %></td>
        <td><%= pasien.alamat %></td>
        <td><%= link_to 'Show', pasien %></td>
        <td><%= link_to 'Edit', edit_pasien_path(pasien) %></td>
        <td><%= link_to 'Destroy', pasien, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pasien', new_pasien_path %>
